#server_info {
	outline: 2px solid #000000;
	border-radius: 5px;
	margin: 10px 0;
	padding: 14px 16px;
	display: block;
	overflow: auto;
	width: 18%;
	display: inline-block;
}

.dark-mode #server_info{
	outline: 2px solid #ffffff;
}

#view_button#delete_button{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	margin: 10px 0;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	outline: 2px solid #000000;
	background-color: #ffffff;
	color: #000000;
	border-radius: 5px;
}

.dark-mode #view_button#delete_button{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	margin: 10px 0;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 5px;
	color: #ffffff;
	outline: 2px soild #ffffff;
	background-color: #403b3b;
}

#server_info_full {
	outline: 2px solid #000000;
	border-radius: 5px;
	margin: 10px 0;
	padding: 14px 16px;
	display: block;
	overflow: auto;
	width: auto;
	display: inline-block;
}

.dark-mode #server_info_full {
	outline: 2px solid #ffffff;
}

p#server_name {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
}

p#os_version {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_hostname {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#net_ip {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_cpu_arch {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_cpu_cores {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_cpu_core_clock_max {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_cpu_core_clock_min {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_cpu_threads {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}

p#os_hard_ram {
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}
