<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link th:href="@{/side_bar.css}" rel="stylesheet" />
		<link th:href="@{/index.css}" rel="stylesheet" />
		<link th:href="@{/favicon.ico}" type="image/x-icon" rel="icon" />
	</head>

<div class="side_nav_bar">
	<a th:href="@{/}">Home</a>
	<a th:href="@{/settings}">Settings</a>
	<div class="dropdown">
		<a class="dropbtn active" th:href="@{/servers}">Servers</a>
		<div class="dropdown-content">
			<a th:href="@{/servers/view}">View Servers</a>
			<a class="active" th:href="@{/servers/add}">Add Server</a>
			<a th:href="@{/servers/remove}">Remove Server</a>
		</div>
	</div>
</div>

<body>
	<div class="add_server" style="margin-left:130px;padding:1px 16px;height:1000px;">

	</div>
</body>
</html>
