<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link th:href="@{/side_bar.css}" rel="stylesheet" />
		<link th:href="@{/index.css}" rel="stylesheet" />
	</head>

<div class="side_nav_bar">
	<a th:href="@{/}">Home</a>
	<a th:href="@{/settings}">Settings</a>
	<div class="dropdown">
		<a class="dropbtn active" th:href="@{/servers}">Servers</a>
		<div class="dropdown-content">
			<a th:href="@{/servers/view}">View Servers</a>
			<a class="active" th:href="@{/servers/add}">Add Server</a>
			<a th:href="@{/servers/remove}">Remove Server</a>
		</div>
	</div>
</div>

<body>
	<div class="add_server" style="margin-left:130px;padding:1px 16px;height:1000px;">
		<p>
			TODO: Info about adding servers.
		</p>
		<form action="#" th:action="@{/dashboard/add_server}" method="post">
			<label for="ServerName">Server name:</label>
			<input type="text" id="ServerName" name="ServerName" th:object="${ServerName}" required>
			<br>
			<label for="ServerIP">Server IP/URL (e.g. 192.168.0.1:5000 or example.com:5000):</label>
			<input type="text" id="ServerIP" name="ServerIP" th:object="${ServerIP}" required>
			<button class="non-destructive" type="submit">Add Server</button>
			<button class="destructive" type="reset">Reset</button>
		</form>
	</div>
</body>
</html>
